<html>
	<head>
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
                <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
                <style>
                    .domain-name{
                        cursor:pointer;
                    }
                </style>
                <title>SimpleDB</title>
	</head>
	<body>
		<nav class="navbar">
			
		</nav>
		<div class="container">
		
		<section id="section1" class="panel panel-default">
			<div class="panel-heading">
			<div class="container">
	    		<h3 class="panel-title">SimpleDB</h3>
	    		</div>
		  	</div>
	  		<div class="panel-body">
                           <!-- -->
                           <dl class="dl-horizontal">
                           <%for(var key in domains){%>
                               <dt><%=key%></dt>
                               <dd class="domain-name" data-domain="<%=domains[key]%>"><%=domains[key]%></dd> 
                            <%}%>
                           </dl>
                           <!-- -->
	  		</div>
			<footer class="panel-footer">
				
			</footer>
		</section>
	</div>
            <script>
                $('.domain-name').click(function(){
                    var parent = $(this);
                    var params = {
                        domainKey:parent.data('domain')
                    };
                    $.post("/simpledbinfo",params,function(data,textStatus){
                        var items = data.Items;
                        if(!items){
                            alert("No items in "+params.domainKey);
                            return;
                        }
                        var dl = $('<dl>',{class:'dl-horizontal'}).appendTo(parent);
                        items.forEach(function(item){
                            $('<dt>',{text:"ItemName"}).appendTo(dl);
                            var dd = $('<dd>',{text:item.Name}).appendTo(dl);
                            var dlNested = $('<dl>',{class:'dl-horizontal'}).appendTo(dd);
                            item.Attributes.forEach(function(attr){
                                $('<dt>',{text:attr.Name}).appendTo(dlNested);
                                $('<dd>',{text:attr.Value}).appendTo(dlNested);
                            });
                        });
                    });
                });
            </script>
	</body>
</html>
